@import '~bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  // text-align: center;
  .btn:focus {
    outline: none !important;
    box-shadow: none  ;
  }
}

.editor {
  border: 1px solid black;
  margin: 50px;
  padding: 20px 30px;
  &__title{
    font-size: 32px;
    color: #3290c1;
  }
}

.field{
  // margin: 10px;
  &__header{
    display: flex;
  }

  &__title{
    font-size: 20px;
    margin: 0 10px;
  }

  &__toggle{
    &_button{
      display: flex;
      align-items: center;
      justify-items: center;
      justify-content: center;
      width: 60px;
      height: 30px;
    }

    &_icon{
      border-left: 10px solid gray;
      border-bottom: 10px solid transparent;
      border-top: 10px solid transparent;
      &-open{
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid gray;
      }
    }
  }

  &__content{

  }

  &__row{
    .field__description{
      display: flex;
      &:hover{
        font-weight: bold;
        color: #3290c1;
        cursor: pointer;
      }
      .field__name{
        margin: 0 5px;
      }

      .field__brief{
        font-weight: bold;

      }
    }
  }

}
